In [1]:
# ! pip install psycopg2-binary

In [1]:
# Load .env file
from dotenv import load_dotenv
load_dotenv()

# Get envirnment variables from .env file
import os
DB_USER = os.getenv("POSTGRES_USER")
DB_PASSWORD = str(os.getenv("POSTGRES_PASSWORD"))

## Conectar PostgreSQL desde Python con psycopg2

In [2]:
import psycopg2  

conn = psycopg2.connect(     
    dbname="mi_base_de_datos",     
    user=DB_USER,     
    password=DB_PASSWORD,     
    host="miguel-conde-PORTEGE-R30-A",     
    port="5432" ) 
    
cursor = conn.cursor() 
cursor.execute("SELECT version();") 

print(cursor.fetchone())

('PostgreSQL 16.8 (Ubuntu 16.8-0ubuntu0.24.10.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 14.2.0-4ubuntu2) 14.2.0, 64-bit',)

In [4]:
cursor.close() 
conn.close()

In [3]:
import pandas as pd  

query = "SELECT * FROM mi_tabla" 
df = pd.read_sql(query, conn) 

conn.close()  

print(df.head())

/tmp/ipykernel_77467/956829830.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

DatabaseError: Execution failed on sql 'SELECT * FROM mi_tabla': relation "mi_tabla" does not exist
LINE 1: SELECT * FROM mi_tabla
                      ^